<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <meta name="theme-color" content="#FFB21B"/>
    <title>WeSata</title>
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/2d2e41954d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Skip Link -->
    <a href="#/wisata" class="skip-link">Menuju ke konten</a>

    <!--Header -->
    <nav-bar></nav-bar>

    <!-- Main -->
    <main id="mainContent"></main>

    <!-- Footer -->
    <footer-web></footer-web>

</body>
</html>
