<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <meta name="theme-color" content="FFB21B"/>
    <title>WeSata</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/2d2e41954d.js" crossorigin="anonymous"></script>
</head>
<body>

    <a href="#/wisata" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="title">WE<b style="color: #FDDEA3;">SATA</b></div>
        <nav class="navigation" id="navigationDrawer">
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="#/wisata">Destinasi</a></li>
                <li><a href="#/adat">Adat</a></li>
                <li><a href="#/favorite">Favorit</a></li>
                <li><a href="#/search"><i class="fa-solid fa-magnifying-glass" id="search"></i></a></li>
            </ul>
        </nav>

    </header>

    <main id="mainContent"></main>

    <footer id="footer">Copyright © 2022 WeSata, All Rights Reserved.</footer>
</body>
</html>
