@media screen and (min-width: 200px) {
	#listContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
	}
}

@media only screen and (min-width: 600px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 20px;
    }
    
    .app-bar .title {
        text-align: left;
    }

    .app-bar .app-bar__menu{
        display: none;
    }

    .app-bar .navigation {
        position: static;
        width: 100%;
    }

    .app-bar .navigation ul li {
        display: inline-block;
        list-style: none
    }

    .app-bar .navigation ul li a {
        display: inline-block;
        margin: 20px;
        text-align: center;
        margin: 0;
    }

    .card-container .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .herotitle {
        font-size: 36px;
    }

    .herosubtitle {
        font-size: 18px;
    }

    .list__content {
        grid-template-columns: 1fr 1fr;
    }

    .list__content i {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 810px) {
	#listContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
	}

    .card-container .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 975px) {
	#listContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
	}
}


