@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

/*Skip to Content*/
.skip-link {    
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

/*nav*/

header{
    padding: 8px 16px;
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
    position: inherit;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    min-height: 44px;
    min-width: 44px;
    color: red;
    border: 1px solid white;
}

header .title{
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    color: #FFB21B;
    text-align: center;
    margin-top: 10px;
}

/* Navbar */
.navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    overflow: hidden;
}

.navigation.open {
    left: 0;
}

.navigation.open ul {
    list-style: none;
    background-color: #fff;
}

.navigation.open ul li a {
    color: black;
}

.navigation ul li a{
    color: rgb(250, 234, 234);
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.navigation ul li:hover a{
    background: #fff;
    color: #FFB21B;
    font-weight: medium;
    height: 13px;
}


/*hero*/
.hero {
    font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	min-height: 495px;
	width: 100%;
	text-align: left;
	background-position: center;
	background-color: Black !important
}

.heroinner {
    width: 100%;
    text-align: center;
}

.herotitle {
	color: #fff;
	font-weight: 600;
	font-size: 25px;
	text-shadow: 1px 1px #141414
}

.herosubtitle {
	color: #fff;
	margin-top: 16px;
	font-size: 15px;
	text-shadow: 1px 1px #141414
}

.card-container{
    margin: 50px;
    border: none;
    display: grid;
    justify-content: space-around;
}

.card-container .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.content-1{
    font-family: 'Poppins', sans-serif;
    margin: 0 20px 20px 20px;
}

.content-container-1{
    background-color: white;
}

.content-container-2{
    margin: 50px 5px;
}

.content-2{
    margin: 0px 20px;
}
.content2_title{
    color: #FFB21B;
    text-align: center;
    margin-bottom: 25px;
}

.content2_title h2{
    font-weight: bold;
    font-size: 35px;
}

.content2_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.content2_body img{
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.content2_body p{
    margin-right: 100px;
}


.content-container-3{
    background-color: white;
    overflow: auto;
}

.content-3{
    padding: 50px 20px;
}

.content3_title{
    color: black;
    text-align: center;
}

.content3_title h2{
    font-weight: bold;
    font-size: 35px;
}

.content3_button button{
    align-items: center;
    margin: 20px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
}

/* Profile */
.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.profile__text h2{
    font-size: 35px;
    font-style: medium;
}

.profile__text p {
    font-size: 18px;
}

.profile__image img{
    width: 90%;
}

/* Search */
.search-container input {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    height: 30px;
    width: 80%;
    font-size: 18px;
}

.search-container button {
    background-color: #B8FFF9;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 10%;
    cursor: pointer;
    font-size: 18px;
}

.search-container button:hover {
    background-color: #44f7e8;
}

.search-container input::placeholder {
    text-align: center;
    font-size: 17px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Favorite */
#favoriteButtonContainer {
    display: flex;
    justify-content: flex-end;
}
.favorite {
    font-size: 35px;
    position: relative;
    bottom: 16px;
    right: 16px;
    color: #FFB21B;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
